html, body {
    height: 100%;
  }

header img {
    width: 100px;
    padding-left: 10px;
    
}

header h1 {
    font-size: 70px;
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px 8px #000000;
}

header {
    background: rgb(0,0,0);
background: linear-gradient(76deg, rgba(0,0,0,0) 0%, rgba(238,173,34,1) 100%);
background: rgb(255,255,255);
background: linear-gradient(70deg, rgba(255,255,255,0) 27%, rgba(252,195,0,0.9976365546218487) 100%);

}

.search-column h4 {
    color: #DCAD0C;
    

}

.history-btn {
    margin-top: 13px;
    font-weight: bold;
    background-color: white;
    transition: 0.5s;
}

.history-btn:hover {
    background-color: #FFC107;
}

.list-group {
    text-align: center !important;
}


#search-btn {
    width: 48px;
    margin-bottom: 10px;
    
}

.custom-row {
    height: 100vh !important;
}

.current-top {
    background-color: #343A40 !important;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background: rgb(0,0,0);
    /*background: linear-gradient(76deg, rgba(0,0,0,0) 0%, rgba(238,173,34,1) 100%);
    background: rgb(255,255,255);
    background: linear-gradient(70deg, rgba(255,255,255,0) 7%, rgba(252,195,0,0.9976365546218487) 100%);
    COULDNT GET GRADIENT TO ALIGN WITH HEADER*/
    
}

.day-title {
    text-align: center;
    border-top: 20px solid #343A40;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-decoration: underline;
    font-weight: bold;
}

.text-shadow {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}


.btn {
    padding: 0px !important;
}

.five-day {
    margin: 0 auto;
}









.bounce-top {
	-webkit-animation: bounce-top 1s both;
	        animation: bounce-top 1s both;
}




 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  